
.buttons-container {
  display: flex;
  justify-content: space-between;
  }
  
.card{
  margin: 2%;
  max-width: 200px;

}

.card-img-top{
  border-radius: 10px;
  max-height: 310px;
  height: 320px;
}
.parentCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
  margin-left: 7%;
  margin-right: 7%;
}

.card-text{
  height: 310px;
}

.parent-all{
  display: flex;
}

.willWatch{
  display: flex;
  justify-content: center;
}

.list-group-item {
  width: 200px;
}