
.buttons-container {
  display: flex;
  justify-content: space-between;
  }
  
.card{
  margin: 2%;
  max-width: 200px;
  border: 1px solid aqua;
}

.card-img-top{
  border-radius: 10px;
  max-height: 310px;
  height: 320px;
}
.parentCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

  